.size {
    width: "50%";
  }
  
  #tables {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px;
  }
  
  .table {
    padding: 50px;
    font-size: 50px;
  }
  
  .row {
    font-size: ".8ex";
  }